<div class="card mt-2">
  <div class="card-body">
    <h4 class="card-title">Licit adatok</h4>
    <table class="table table-responsive table-hover d-table">
      <tbody>
        <tr>
          <th scope="row">Minimum licit:</th>
          <td>{{ticket.minimalBidPrice}} Ft</td>
        </tr>
        <tr>
          <th scope="row">Jelenlegi licit:</th>
          <td>{{ticket.currentBid}}</td>
        </tr>
        <tr>
          <th scope="row">Licitek száma:</th>
          <td>{{ticket.bidCounter}}</td>
        </tr>
        <tr>
          <th scope="row">Licit lépcső:</th>
          <td>{{ticket.bidStep}}</td>
        </tr>
        <tr>
          <td colspan="2">Licit lejár <strong>{{ticket.bidEndDate | amFromUnix | amTimeAgo}}</strong></td>
        </tr>
      </tbody>
    </table>

    <app-bidding-card-form *ngIf="isLoggedIn" [ticket]="ticket" (bid)="onBidWithBidStepBiddingCard()"></app-bidding-card-form>
  </div>
</div>
