<div class="row  justify-content-around px-5 ">

  <div class="col-auto text-center">
    <label>Keresés az események között</label>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Esemény neve" id="search-input" type="search">
    </form>
  </div>

  <div class="my-2 my-lg-0 text-center" *ngIf="userService.isLoggedIn$ | async">
    <div>
      <label>Eseményt szeretnék létrehozni</label>
    </div>
    <div class="w-100"></div>
    <div><a class="btn btn-primary" role="button" routerLink="./new">Új esemény létrehozása</a></div>
  </div>

</div>

<!--<div class="card-deck" *ngFor="let evg of eventsGrouppedBy3" class="card-deck pt-5 pb-5">
  <app-eventcard
    *ngFor="let event of evg"
    [event]="event"
    class="col col-md-6 col-lg-4">
  </app-eventcard>
</div>-->

<!--<pre>
  {{events$ | async | json}}
</pre>-->

<!--<div class="card-deck" *ngFor="let evg of eventsGrouppedBy3" class="card-deck pt-5 pb-5">
  <app-eventcard
    *ngFor="let event of evg"
    [event]="event"
    class="col col-md-6 col-lg-4">
  </app-eventcard>
</div>-->

<!--<div class="card-deck" *ngFor="let evg of eventsGrouppedBy3$ | async" class="card-deck pt-5 pb-5">
  <app-eventcard
    *ngFor="let event of evg"
    [event]="event"
    class="col col-md-6 col-lg-4">
  </app-eventcard>
</div>-->

<div class="card-columns mt-5">
  <app-eventcard
    *ngFor="let event of events$ | async"
    [event]="event"
  >
  </app-eventcard>
</div>

