<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Jegybazár</a>
    <button (click)="isCollapsed = !isCollapsed"
            area-controls="navbarNavAltMarkup"
            area-expanded="false"
            area-label="Toggle navigation"
            class="navbar-toggler"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/event/list" routerLinkActive="active">Események</a>
        <a class="nav-item nav-link" routerLink="/ticket/list" routerLinkActive="active">Jegyek</a>
        <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">Rólunk</a>
        <ng-container *ngIf="!userService.isLoggedIn; else loggedInBlock">
          <a class="nav-item nav-link" routerLink="/user/login" routerLinkActive="active">Belépés</a>
          <a class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm"
             routerLink="/user/registration">Regisztráció</a>
        </ng-container>
        <ng-template #loggedInBlock>
          <a (click)="logout()" class="nav-item nav-link" routerLinkActive="active">Kijelentkezés</a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
