<div class="row" *ngIf="displayBidStep; else bidWithValue">
  <div class="col-12">
    <a class="btn btn-primary text-light" (click)="onBidWithBidStepClickEvent()">
      Licit a következő legkisebb licittel: {{ticket.currentBid + ticket.bidStep}} Ft
    </a>
  </div>
  <div class="col-12 mt-3">
    <a href="#" (click)="displayBidWithStep($event)">
      Inkább megadom én a licit értékét
    </a>
  </div>  
</div>  
<ng-template #bidWithValue>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mt-3">
      <div class="col-6">
        <input [ngClass]="{'is-invalid':submitted && form.get('bid').invalid}" formControlName="bid" type="number" class="form-control" placeholder="Add meg a licit értéket">
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary text-light" role="button">Licitálok</button>
      </div>
    </div>
  </form>
</ng-template>
<p>Form value: {{form.value | json}}</p>
<p>Form bid error: {{form.get('bid').errors | json}}</p>