<div class="content-container">

  {{ pipeDemo | json }}
  <!-- navbar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Jegybazár</a>
      <button class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="index.html">Home</a>
          <a class="nav-item nav-link" href="esemenyek.html">Események</a>
          <a class="nav-item nav-link" href="jegyek.html">Jegyek</a>
          <a class="nav-item nav-link" href="rolunk.html">Rólunk</a>
          <a class="nav-item nav-link" href="belepes.html">Belépés</a>
          <a class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm"
             href="regisztracio.html">Regisztráció</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- navbar end -->

  <!-- jumbotron -->

  <div class="jumbotron py-5">
    <div class="container text-center">
      <h1 class="display-4 mb-4">Jegyek bárkitől, bárhol, bármikor!</h1>
      <p class="lead">Használd a Jegybazárt és csereberélj jegyeket a legjobb bulikra. Elfogyott? Az orrod elől vitték
        el az utolsót? Ne aggódj, irány a JegyBazár!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg mt-4 mb-0" href="#" role="button">Nézzük az eseményeket!</a>
      </p>
    </div>
  </div>

  <!-- cards -->

  <div class="container">

    <div class="card-deck pt-5">

      <div class="col col-lg-4">
        <div class="card text-center">
          <div class="row justify-content-center">
            <img alt="Card image cap" class="card-img-top img-fluid calendar" src="assets/calendar.png">
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Események</h4>
            <p class="card-text">Itt találod a legtöbb jó bulit, böngéssz bátran és keress vagy adj el jegyeket a
              barátaidnak, vagy más felhasználóknak.</p>
            <a class="btn btn-primary btn_card" href="#">Események</a>
          </div>
        </div>
      </div>

      <div class="col col-lg-4">
        <div class="card text-center">
          <div class="row justify-content-center">
            <img alt="Card image cap" class="card-img-top img-fluid calendar" src="assets/ticket.png">
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Jegyek</h4>
            <p class="card-text">Ha sietsz, egyből kezdheted a jegyek böngészésével is. Itt is tudsz keresni az esemény
              neve vagy időpontja alapján.</p>
            <a class="btn btn-primary btn_card" href="#">Jegyek</a>
          </div>
        </div>
      </div>

      <div class="col col-lg-4">
        <div class="card text-center col">
          <div class="row justify-content-center">
            <img alt="Card image cap" class="card-img-top img-fluid calendar" src="assets/user.png">
          </div>
          <div class="card-body">
            <h4 class="card-title">Regisztráció</h4>
            <p class="card-text">Még nem regisztráltál? Akkor gyorsan tedd meg, mert a szolgáltatás csak tagonkak
              elérhető. Sőt, az újak értékes ajándékot kapnak tőlünk.</p>
            <a class="btn btn-primary btn_card" href="#">Regisztráció</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<!-- footer -->

<footer class="bg-light text-center py-3 sticky-bottom">
  <div class="container">
    <p class="m-0">&copy; Company 2017</p>
  </div>
</footer>






